<!DOCTYPE html>
<html>
<body>
    <h2>Content Deletion Notice</h2>
    {% if media.type == 'tv' %}
        <p>The following TV show seasons will be deleted:</p>
        <p>{{ media.title }} (Seasons: {{ media.seasons|join(', ') }})</p>
    {% else %}
        <p>The following movie will be deleted:</p>
        <p>{{ media.title }}</p>
    {% endif %}
    {% if media.poster %}
        <img src="{{ media.poster }}" alt="Media Poster" style="max-width: 200px;">
    {% endif %}
</body>
</html>