name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]

    steps:
    - uses: actions/checkout@v4 
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Cache uv
      uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/uv
          .venv
        key: ${{ runner.os }}-uv-${{ hashFiles('**/pyproject.toml') }}
        
    - name: Install uv
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
        
    - name: Install dependencies
      run: |
        [ -d .venv ] || uv venv
        uv pip install -e ".[dev]"

    - name: Run tests with coverage
      run: |
        uv run pytest --cov=scruffy --cov-report=xml --cov-report=term
        echo "COVERAGE=$(python -c 'import xml.etree.ElementTree as ET; print(ET.parse("coverage.xml").getroot().attrib["line-rate"])' | awk '{printf "%.0f%%", $1 * 100}')" >> $GITHUB_ENV
        echo "COLOR=$(python -c 'import xml.etree.ElementTree as ET; cov=float(ET.parse("coverage.xml").getroot().attrib["line-rate"]); print("red" if cov < 0.5 else "yellow" if cov < 0.8 else "green")')" >> $GITHUB_ENV

    - name: Create Coverage Badge
      uses: schneegans/dynamic-badges-action@v1.7.0
      with:
        auth: ${{ secrets.GIST_SECRET }}
        gistID: c4d296c768b6156a0315ceca529b6d68
        filename: coverage.json
        label: coverage
        message: ${{ env.COVERAGE }}
        color: ${{ env.COLOR }}
        namedLogo: python